body{
      padding:0;
      margin: 0;
    }
     .myheader {
        text-align: center;
        margin:auto;
        background:#FF1494E9;
        font-weight: bold;
        font-size: 1.5em;
        top:50%;
        padding:20px;
        font-family: 'Nerko One', cursive;
      }
     .myheader a{
        text-decoration: none;
        color: #fff;
      }